.findUser {
    display: flex;
    justify-content: space-between;
    background-color: #dffdc1;
    border: 1px solid black;
    width: 600px;
    padding: 10px 35px;
    margin: 5px;

    img {
        width: 30px;
    }
}
.findUserPagination {
    cursor: pointer;
    color: red;
    font-weight: 700;
}
