.carouselContainer {
    max-width: 200px;
    max-height: 800px;
    margin: 0 auto;
    background: #868686;
    img {
       height: 350px;
       margin: 0 auto;
       padding: 5px 0 0 ;

    }
    ;
}
