.users {
    .usersBlock {
        display: flex;
        justify-content: space-between;
        border: 1px solid black;
        padding: 10px 30px;
        margin: 10px 0 0 0;
    }

    background-color: #d4e6f7;

    .foto {
        width: 50px;
        height: 70px;
        img {
            display: block;
            width: 100%;
            border-radius: 5px;
        }
    }
}
.leftBlock {
    margin: 10px 0 0 25px;
    width: 50px;
    
}
.rightBlock {
    display: flex;
    justify-content: space-between;
    width: 600px;
    background-color: hsl(60, 10%, 94%);
    padding: 15px 30px;
    border-radius: 10px;
}

.select {
    font-weight: 900;
    border: 1px solid black;
    border-radius: 5px;
    background-color: hsl(240, 0%, 60%);
    padding: 2px 2px 2px 5px;
    cursor: pointer;
    :active {
        background: hsl(0, 0%, 70%);
        color: brown;
    }
}
.usersBlockP {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: red;
    font-weight: 900;
}
.usersBlockf {

    li {
        :hover {
            background-color: #dbdbdb;
            font-weight: 600;
        }
        :active{
            background-color: gold;
        }
    }

}
